---
http_interactions:
- request:
    method: get
    uri: https://api.tfl.gov.uk//StopPoint/940GZZLUGPS/Arrivals
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - api
      X-Host:
      - api.digital.tfl.gov.uk
      X-No-Smaxage:
      - 'true'
      X-Proxy-Connection:
      - unset
      X-Request-404:
      - 'true'
      X-Ttl-Rule:
      - '007'
      X-Operation:
      - StopPoint_ArrivalsByPathId
      X-Api:
      - StopPoint
    body:
      encoding: ASCII-8BIT
      string: '{"$type":"Tfl.Api.Presentation.Entities.ApiError, Tfl.Api.Presentation.Entities","timestampUtc":"2024-07-18T18:30:46.9572456Z","exceptionType":"EntityNotFoundException","httpStatusCode":404,"httpStatus":"NotFound","relativeUri":"/StopPoint/940GZZLUGPS11/Arrivals","message":"The
        following stop point is not recognised: 940GZZLUGPS11"}'
  recorded_at: Thu, 18 Jul 2024 18:30:50 GMT
recorded_with: VCR 6.2.0
