---
http_interactions:
- request:
    method: get
    uri: https://api.tfl.gov.uk//StopPoint/940GZZLUGPS/Arrivals
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Entity-Payload:
      - Prediction
      X-Backend:
      - api
      X-Proxy-Connection:
      - unset
      X-Ttl:
      - '60.000'
      X-Ttl-Rule:
      - '0'
      X-Operation:
      - StopPoint_ArrivalsByPathId
      X-Api:
      - StopPoint
    body:
      encoding: ASCII-8BIT
      string: '[{"$type":"Tfl.Api.Presentation.Entities.Prediction, Tfl.Api.Presentation.Entities","id":"-1468424605","operationType":1,"vehicleId":"204","naptanId":"940GZZLUGPS","stationName":"Great
        Portland Street Underground Station","lineId":"circle","lineName":"Circle","platformName":"Eastbound
        - Platform 2","direction":"outbound","bearing":"","destinationNaptanId":"940GZZLUERC","destinationName":"Edgware
        Road (Circle Line) Underground Station","timestamp":"2024-07-18T18:25:43.1693991Z","timeToStation":1008,"currentLocation":"At
        Gloucester Road Platform 2","towards":"Edgware Road (Circle)","expectedArrival":"2024-07-18T18:42:31Z","timeToLive":"2024-07-18T18:42:31Z","modeName":"tube","timing":{"$type":"Tfl.Api.Presentation.Entities.PredictionTiming,
        Tfl.Api.Presentation.Entities","countdownServerAdjustment":"00:00:00","source":"0001-01-01T00:00:00","insert":"0001-01-01T00:00:00","read":"2024-07-18T18:25:37.134Z","sent":"2024-07-18T18:25:43Z","received":"0001-01-01T00:00:00"}},{"$type":"Tfl.Api.Presentation.Entities.Prediction,
        Tfl.Api.Presentation.Entities","id":"219163096","operationType":1,"vehicleId":"205","naptanId":"940GZZLUGPS","stationName":"Great
        Portland Street Underground Station","lineId":"circle","lineName":"Circle","platformName":"Eastbound
        - Platform 2","direction":"outbound","bearing":"","destinationNaptanId":"940GZZLUERC","destinationName":"Edgware
        Road (Circle Line) Underground Station","timesta[...]
